<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Calculator</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl"
          crossorigin="anonymous">
</head>
<body>

<div th:class="${style}" role="alert" th:text="${message}">
</div>

<div class="container mt-4">

    <a th:href="@{/token}" class="btn btn-primary">Solicitar token</a>
    <a th:href="@{/}" class="btn btn-primary">Ver historial</a>
    <p></p>
    <p></p>
</div>
<div class="container mt-4">
    <form th:action="@{/operand}" method="post">

        <div class="col-sm-6">
            <div class="card">
                <div class="card-header">
                    <h3>Agregar operandos</h3>
                </div>
                <div class="card-body">
                    <div class="form-group">
                        <label>Token:</label>
                        <input th:name="token" type="text" class="form-control"/>

                        <label>Operando:</label>
                        <input th:name="operand" type="text" class="form-control"/>
                        <div class="card-footer">
                            <input type="submit" value="Guardar" class="btn btn-success"/>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

<div class="container mt-4">
    <form th:action="@{/calculate}" method="post">

        <div class="col-sm-6">
            <div class="card">
                <div class="card-header">
                    <h3>Ejecutar operación</h3>
                </div>
                <div class="card-body">
                    <div class="form-group">
                        <label>Token:</label>
                        <input th:name="token" type="text" class="form-control"/>

                        <label>Tipo de operación:</label>
                        <select th:name="operationType" class="form-control">
                            <option value="sum">Suma</option>
                            <option value="subtract">Resta</option>
                            <option value="multiply">Multiplicación</option>
                            <option value="divide">División</option>
                            <option value="potenciation">Potenciación</option>
                        </select>
                        <div class="card-footer">
                            <input type="submit" value="Ejecutar" class="btn btn-success"/>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

</body>
</html>