<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Calculator</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl"
          crossorigin="anonymous">
</head>
<body>

<div th:class="${style}" role="alert" th:text="${message}">
</div>

<div class="container mt-4">
  <span class="idiomas">
  <a th:href="|@{/}?lang=es|"><img th:src="@{/img/spain.svg.png}" width="20" height="20" alt="Español"></a>
  <a th:href="|@{/}?lang=en|"><img th:src="@{/img/usa.svg.png}" width="20" height="20" alt="English"></a>
</span>
</div>

<div class="container mt-4">
    <a th:href="@{/token}" class="btn btn-primary" th:text="#{index.tokenRequest}"></a>
    <a th:href="@{/audit}" class="btn btn-primary" th:text="#{index.seeHistorial}"></a>
    <p></p>
    <p></p>
</div>
<div class="container mt-4">
    <form th:action="@{/operand}" method="post">

        <div class="col-sm-6">
            <div class="card">
                <div class="card-header">
                    <h3 th:text="#{index.addOperand}"></h3>
                </div>
                <div class="card-body">
                    <div class="form-group">
                        <label class="required" th:text="#{index.token}">Token: *</label>
                        <input th:name="token" type="text" class="form-control"/>

                        <label th:text="#{index.operand}"></label>
                        <input th:name="operand" type="text" class="form-control"/>
                        <div class="card-footer">
                            <input type="submit" th:value="#{index.saveButton}" class="btn btn-success"/>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

<div class="container mt-4">
    <form th:action="@{/calculate}" method="post">

        <div class="col-sm-6">
            <div class="card">
                <div class="card-header">
                    <h3 th:text="#{index.executeOperation}"></h3>
                </div>
                <div class="card-body">
                    <div class="form-group">
                        <label th:text="#{index.token}"></label>
                        <input th:name="token" type="text" class="form-control"/>

                        <label th:text="#{index.operationType}"></label>
                        <select th:name="operationType" class="form-control">
                            <option value="SUM" th:text="#{index.sum}"></option>
                            <option value="SUBTRACT" th:text="#{index.subtract}"></option>
                            <option value="MULTIPLY" th:text="#{index.multiply}"></option>
                            <option value="DIVIDE" th:text="#{index.divide}"> </option>
                            <option value="EMPOWERMENT" th:text="#{index.pow}"></option>
                        </select>
                        <div class="card-footer">
                            <input type="submit" th:value="#{index.execute}" class="btn btn-success"/>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

</body>
</html>